<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="input">
      <h3>Input Boxes</h3>
      <div class="input-container">
        <label>Input 1</label>
        <input type="number" value="7" />
      </div>
      <div class="input-container">
        <label>Input 2</label>
        <input type="number" value="4" />
      </div>
      <button>Update</button>
    </div>
    <div class="output">
      <h3>Output Chart</h3>
      <canvas></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/javascripts/helper.js"></script>
    <script src="/javascripts/myChart.js"></script>
    <script>
      const barChart = createChart(".output canvas");
      const updateBtn = document.querySelector(".input button");

      // When update button clicked
      updateBtn.addEventListener("click", async () => {
        // Get all the input boxes
        const inputBoxes = document.querySelectorAll(".input .input-container");
        let chartNewData = [];

        // Loop through the input boxes and create new data array
        inputBoxes.forEach((inputBox) => {
          const label = inputBox.querySelector("label");
          const input = inputBox.querySelector("input");
          chartNewData.push({
            key: label.innerText,
            value: input.value,
          });
        });

        // Update server
        const res = await fetch("/data", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(chartNewData),
        });

        // server wil response with updated values
        if (res.ok) {
          const resJson = await res.json();

          // Remove all data from chart
          removeAllData(barChart);

          // Draw the chart again
          resJson.data.forEach((d) => {
            addData(barChart, d.key, d.value);
          });
        }
      });
    </script>
  </body>
</html>
